/* GENERAL */

html {
    font-size: 75%;
    font-family: 'Cantarell', sans-serif;
    line-height: 2.1rem;
}

body {
    font-size: 1.6rem;
    color: #000;
}

header {
    border-bottom: 0.2rem solid #000;
}

nav {
    text-align: right;
}

nav a {
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

footer {
    margin-top: 3rem;
    padding: 0.4rem 0;
    border-top: 0.2rem solid #000;
    font-size: 1.2rem;
    color: #555;
    line-height: 0.2rem;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

.title a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

.blog-list {
    margin: 0;
    text-align: left;
    font-size: 1.8rem;
}

a.blog-list {
    float: left;
    font-size: 1.8rem;
    color: black;
    font-weight: bold;
    text-decoration: none;
}


/* DISPLAY SPECIFIC */


@media (max-width: 999px) {

    body {
        width: 92%;
        margin: 0;
        padding: 0 5%;
    }
    header {
        margin: 4.2rem 0;
    }
    nav {
        margin: 0 auto 3rem;
        text-align: center;
    }
    footer {
        text-align: center;
    }
    nav a {
        display: inline;
        margin: 0 0.6rem;
    }

    .title {
        text-align: center;
        margin: 0.8rem auto 2.4rem;
        font-size: 2.4rem;
    }
    .title a {
        font-size: 2.4rem;
    }
}


@media (min-width: 1000px) {
    body {
        width: 920px;
        margin: 0 auto;
        padding: 0;
    }
    header {
        margin: 0 0 3rem;
        padding: 1.2rem 0;
    }
    nav {
        margin: 0;
        text-align: right;
    }
    nav a {
        margin: 0 0 0 1.2rem;
        display: inline;
    }
    footer {
        text-align: right;
    }

    .title {
        margin: 0;
        text-align: left;
        font-size: 1.8rem;
    }
    .title a {
        float: left;
        font-size: 1.8rem;
    }
}
