/* GENERAL */

figure.float {
    border: 0.1em grey solid;
    display: flex;
    flex-flow: column;
}

figcaption.float {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 5px;
    border:solid gray;
    border-width: 0.1em 0em 0em 0em;
}



/* DISPLAY SPECIFIC */


@media (max-width: 559px) {

    figure.float {
        margin: auto;
        margin-left: 0;
        width: 97.5%;
        }

}

    img.float {
        width: 95%;
        padding: 2.5%;
        height: auto;
    }


@media (min-width: 560px) {

    img.float {
        width: 95%;
        padding: 2.5%;
        height: auto;
    }

    figure.left-float {
        float: left;
        margin-left: 0;
    }

    figure.right-float {
        float: right;
        margin-right: 6px;
    }
}
