<style>

figure{
   width:42%; /*container-width*/
   overflow:hidden; /*hide bounds of image */
   margin: 0px 20px 20px 20px;   /*reset margin of figure tag*/
}
figure img{
   display:block; /*remove inline-block spaces*/
   width:100%; /*make image streatch*/
}

figure img{
   /*add to other styles*/
   margin: -25% 0 0 0;
}

</style>

<figure class="float right-float">
<img src="/files/photos/gamba-1-scaled.jpeg"/>
<figcaption class="float"> Nota Bene: I have no idea what I'm doing. </figcaption>
</figure>

<p>Welcome! You have reached the personal homepage of Sacha Sokoloski. I am a group leader at the <a href="https://hertie.ai/">Hertie Institute for AI in Brain Health</a>, directed by <a href="https://hertie.ai/data-science/team/members/philipp-berens">Professor Philipp
Berens</a>. I lead the <a href="https://hertie.ai/data-science/research-groups/about/neuronal-modeling">Neural Modelling</a> group, where we develop and apply computational models of sensory neural circuits in the brain using a mixture of techniques from and deep neural networks, to biophysical modelling, to probabilistic models.


<p>On this website you will find a <a href="/pages/research.html">summary of my research</a>, including my past and current research, my larger research vision, and brief description of my library for type-safe numerical optimization named Goal (Geometric Optimization Libraries). I maintain a <a href="/pages/blog.html">blog</a> where I provide tutorials for the Goal libraries, and introductions to my theories and published work. Finally, you may learn a bit about my <a href="/pages/personal.html">personal life</a> outside of research, or just cut straight to the facts with my <a href="/pages/cv.html">curriculum vitae</a>.

</p>
