<style>

</style>

<h2>Paper Overviews</h2>
<ul>
    $for(paper-posts)$
        <li>
            <a class="blog-list" href="$url$">$post-title$</a>
            <p><br>$teaser$</p>
            <a href="$url$">Continue reading...</a>
        </li>
    $endfor$
</ul>

<h2>Goal Tutorials</h2>
<ul>
    $for(goal-posts)$
        <li>
            <a class="blog-list" href="$url$">$post-title$</a>
            <p><br>$teaser$</p>
            <a href="$url$">Continue reading...</a>
        </li>
    $endfor$
</ul>
