<article>
    <section class="header">
        <h2>$post-title$</h2>
        $if(author)$
            by $author$
        $endif$
    </section>
    <section>
        $body$
    </section>
</article>
